<app-navbar></app-navbar>

<!--<button (click)="this.authService.signin()">Đăng nhâp với Gg</button>-->
<!--<button (click)="this.storeService.deleteAllFromCart();this.authService.signout()">Đăng xuất</button>-->

<!--<div class="Container">-->
<!--  @for (product of this.storeService.products; track $index) {-->
<!--    <app-card [product]="product"></app-card>-->
<!--  }-->
<!--</div>-->

<!--<h1>Đây là giỏ hàng</h1>-->
<!--@for (product of this.storeService.cart; track $index) {-->
<!--  <app-cart [product]="product"></app-cart>-->
<!--}-->

<!--<app-totalcost [total]="storeService.total"></app-totalcost>-->

<router-outlet></router-outlet>



